body {
    background-color: yellow;
    align-items: center;
    text-align: center;
}
h1 {
    color: black;
}
.triangle {
    margin: auto;
    margin-bottom: 6px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
}
.square {
    margin: auto;
    margin-bottom: 6px;
    width: 100px;
    height: 100px;
    background: red;
}
.rectangle {
    margin: auto;
    margin-bottom: 6px;
    width: 200px;
    height: 100px;
    background: purple;
}
.circle {
    margin: auto;
    margin-bottom: 6px;
    width: 100px;
    height: 100px;
    background: grey;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.parallelogram {
    margin: auto;
    margin-bottom: 6px;
    width: 150px;
    height: 100px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: green;
}
.trapezium {
    margin: auto;
    margin-bottom: 6px;
    border-bottom: 100px solid white;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
}
.star {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    position: relative;
}
.star:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}
